In [1]:
import pandas as pd
import numpy as np

In [ ]:

url = "http://bit.ly/autolib_dataset"

df =pd.read_csv(url)

df

In [ ]:
#checking for null values
df.isnull()

In [37]:
#drop null columns
df=df.drop(labels=['Displayed comment'], axis=1)
df=df.drop(labels=['Scheduled at'], axis=1)

In [24]:
df.shape

(5000, 23)

In [ ]:
df.nunique()

In [ ]:

df = df.drop_duplicates()
df

In [69]:
#finding the lowest count of blue coloured car in station
min_val = df[['BlueCarCounter']].min()
print("The highest count of blue car is: ")
min_val

The highest count of blue car is:

BlueCarCounter    0
dtype: int64

In [71]:
#finding the highest available slots
max_val = df[['Slots']].max()
max_val

Slots    7
dtype: int64

In [ ]:
df[['Slots']].max(axis=1)

In [ ]:
from natsort import index_natsorted
max_blue.sort_values(
    by='Date', key = lambda x: np.argsort(index_natsorted(max_blue['Date']))  
)

In [ ]:
#find what time had more blue car hire entries
max_blue[['hour']].mode()

In [ ]:
df.head(1)

In [ ]:
#Convert to column header to pascal case 
df.columns = ['Address','Cars','BlueCarCounter','UtilibCounter','Utilib1.4Counter','ChargeSlots','ChargingStatus','City','Id','Kind','GeoPoint','PostalCode','PublicName','RentalStatus','Slots','StationType','Status','SubscriptionStatus','Year','Month','Day','Hour','Minute']
df.columns.values.tolist()

In [ ]:
#merging date time to one column
df['Date'] = pd.to_datetime(df[['Year','Month','Day','Hour','Minute']])
df

#dropin table
df.drop(['Year','Month','Day','Hour','Minute'], axis=1 ,inplace=True)
df

In [ ]:
#how many stations are not operational i.e broken
count =0
for c in df['RentalStatus']:
  if c == "broken":
    print(" Station number {} is broken.".format(count))
    count += 1

In [ ]:
#most used station per ID
df['Id'].mode()

In [87]:
for c in df['Id']:
  if c == "paris-portedemontrouge-8":
    print("the most visited station  is {}.".format(c))
    break

the most visited station  is paris-portedemontrouge-8.